{% if tcpwrappers_deny_all_connections %}
ALL: ALL
{% else %}
{% for item in tcpwrappers_denys %}

{% if item.comment is defined %}
# {{ item.comment }}
{% endif %}
{{ item.daemon }}: {{ item.clients| ipwrap| join (' ')}}
{% endfor %}
{% endif %}
